{% extends "base.html" %}

{% block content %}

<main>
    <!-- Contenido de la pagina -->
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 col-sm-8 text-center">
                <h2 class="">¿Que es LandScape?</h2>
                <h4 class="p-2"><strong>Aplicacion Web</strong> Para <strong>Monitoreo</strong></h4>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 p-5">
            <div class="col text-center process-step-style-01">
                <div class="process-step-icon-box p-2">
                    <div class="process-step-icon bg-white">
                        <i class="fa-solid fa-gear icp"></i>
                    </div>
                </div>
                <h6 class="">Administración</h6>
                <p>El módulo más robusto para manejar todas las cuentas por cobrar y pagar, facturación y reportes para la contabilidad.</p>
            </div>
            <div class="col text-center process-step-style-01">
                <div class="process-step-icon-box p-2">
                    <span class="process-step-bfr"></span>
                    <div class="process-step-icon bg-white">
                        <img src="./public/images/proteger.png" width="60" height="60" data-no-retina="">
                    </div>
                </div>
                <h6 class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray font-size-h6-responsive">Seguridad</h6>
                <p>Mayor seguridad a través de accesos verificados y controlados, que generan un historial de registros.</p>
            </div>
            <div class="col text-center process-step-style-01">
                <div class="process-step-icon-box p-2">
                    <span class="process-step-bfr"></span>
                    <div class="process-step-icon bg-white">
                        <img src="./public/images/dialogo.png" width="60" height="60" data-no-retina="">
                    </div>
                </div>
                <h6>Comunicación</h6>
                <p>Mantén informados a los ciudadanos a través de la app sencilla y diseñada para la comunicación.</p>
            </div>
            <div class="col text-center process-step-style-01">
                <div class="process-step-icon-box p-2">
                    <span class="process-step-bfr"></span>
                    <div class="process-step-icon bg-white">
                        <img src="./public/images/accesibilidad.png" width="60" height="60" data-no-retina="">
                    </div>
                </div>
                <h6>Accesibilidad</h6>
                <p>Con tu App navega desde cualquier y dispositivo conectado a Internet, informate, paga cuotas y genera visitas.</p>
            </div>
        </div>
    

    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-5 text-center">
                <i class="fa-regular fa-calendar-check icoMv"></i>
            </div>
            <div class="col-md-6 mx-3">
                <h1 class="titulos">Misión</h1>
                <h7 class="parrafos">Facilitar el acceso y la gestión eficiente de los servicios municipales a traves de una plataforma web intuitiva y segura, mejorando la calidad de vida de los ciudadanos y promoviendo la participación activa en la comunidad.</h7>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-6 mx-3">
                <h1 class="titulos">Visión</h1>
                <h7 class="parrafos">Convertirnos en la principal herramienta digital para la interacción entre los ciudadanos y los servicios municipales, siendo reconocidos por nuestra innovación, transpatrencia y compromiso con la mejora continua en la prestación de servicios públicos locales.</h7>
            </div>
            <div class="col-md-5 text-center">
                <i class="fa-brands fa-fort-awesome icoMv"></i>
            </div>
        </div>
    </div>
</div>
</main>

{% endblock %}
